<!DOCTYPE html>
<html lang="en">

<head>
  <title>Socket Chat!</title>
</head>

<body>
  <form id="editForm">
    <input id="editBox" type="text" />
    <select name="channel" id="channelSelect">
      <option value="general">General</option>
        <option value="memes">Memes</option>
    </select>
    <input type="submit" />
  </form>

  <div id="messages"></div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/client.js"></script>
</body>

</html>